@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Budget Sorting Application</h1>
    <p>This application is designed to help sort and Budget expenses made by individuals, using a database system and user input to help the user manage and track expenses, making some suggestions on how the user can reduce unnecesary expenses and keep a good balance in cash.</p>
</div>
